@import url('~normalize.css');
@import url('~bootstrap/scss/bootstrap.scss');

.modal-content {
    background-color: transparent;
    border: none;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
}

